@media (min-width: 992px){
    .navbar li {
        margin-left : 2em;
        margin-right : 2em;
    }
}

.school-name {
   font-size: 8vw;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   text-shadow: 1px 1px 1px #726c6c,
       1px 2px 1px #726c6c,
       1px 3px 1px #726c6c,
       1px 4px 1px #726c6c,
       1px 5px 1px #726c6c,
       1px 6px 1px #726c6c,
       1px 7px 1px #726c6c,
       1px 8px 1px #726c6c,
       1px 9px 1px #726c6c,
   1px 18px 6px #726c6c,
   1px 20px 30px #726c6c,
   1px 30px 60px #363232;
}


.bgbrick {
    background-image: url(../images/brick2.jpeg);
    background-color: #726c6c; /* In case the image is not available */
    background-size: cover;
    opacity: 0.9;
    text-shadow: 2px 2px 3px black, 0 0 5px black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 105%;
} 

.bgbrick:hover {
    padding: 15px 10px 15px 10px;
    opacity: 0.8;
    box-shadow: 0 0 5px 5px rgb(11, 136, 21); /*pick a shade of green to match the background image*/
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin: 3%;
}