*{
   margin:0;
   padding:0;
   border:0;
}

html, body {
 height: 100%;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;     
  opacity: 0.8;       /* Footer height */
}

@media (max-width: 992px){

  #content-wrap {
    padding-bottom: 4.5rem;   /* Footer height */
  }

#footer {
  height: 5rem;
}
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 2em;
        margin-right : 2em;
    }

    .bricks {
    margin-top: 20vw;
}
}

.body-home {
    background-image: url(../images/bc4-mirror.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body-image-blur {
    background-image: url(../images/bg_image_fade.png);
    background-size: cover;
    background-repeat: repeat;
}

nav {
    opacity: 0.8;
}

.default-card-color {
  background-color: rgba(255, 246, 232, 0.795);
}

/* __________________________Home page ____________________*/

.school-name {
   font-size: 7vw;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   text-shadow: 1px 1px 1px #726c6c,
       1px 2px 1px #726c6c,
       1px 3px 1px #726c6c,
       1px 4px 1px #726c6c,
       1px 5px 1px #726c6c,
       1px 6px 1px #726c6c,
       1px 7px 1px #726c6c,
       1px 8px 1px #726c6c,
       1px 9px 1px #726c6c,
   1px 18px 6px #726c6c,
   1px 20px 30px #726c6c,
   1px 30px 60px #363232;
}

.school-name-box {
   margin-top: 7px;
}

.school-vision {
   font-size: 2vw;
   font-family: Roboto, sans-serif;
   font-style: italic;
   font-variant: small-caps;
   color: #363232;
   text-shadow: 0px 1px 0.5px #726c6c;
}

/*.school-vision-box {
    margin: auto;
}*/

.bgbrick {
    background-image: url(../images/brick2bordered2.jpeg);
    background-color: #726c6c; /* In case the image is not available */
    background-size: cover;
    opacity: 0.9;
    text-shadow: 2px 2px 3px black, 0 0 5px black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 105%;
    background-position: center;
} 

.bgbrick:hover {
    padding: 15px 10px 15px 10px;
    box-shadow: 0 0 5px 5px rgb(255, 246, 232);
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
    margin: 3%;
}


@media (max-width: 1197px){
  .bgbrick {
    height: 80px;
  }
}

/* __________________________End of Home page ____________________*/

/* __________________________ Course Info page ____________________*/

.countdown {
  display: inline;
  font-size: 20px;
}

.free-lesson-box {
    margin: auto;
    margin-top: 15px;
    width: 50%;
    
}

.course-info-row {
    margin: 15px;
}

@media (max-width: 992px){
    .free-lesson-box {
    margin: auto;
    margin-top: 15px;
    width: 80%;
    
}
}

.video {
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: rgb(210, 166, 121);
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 0 10px 10px 10px;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: rgb(210, 166, 121);
}
/* __________________________End of Course Info page ____________________*/



/* __________________________Knowledge Test page ____________________*/


.test-heading {
    text-align: center;
    margin-top: 17px;
    text-align: center;
   margin: 20px;
   text-shadow: 3px 3px 3px rgb(255, 246, 232);
}

.test-instructions {
    margin: 7px;
    padding: 7px 5px 3px 15px;
    background-color: rgb(255, 246, 232);
}

#test-table{
    background-color: rgba(255, 246, 232, 0.459);
    width: 100%;
}

#test-table td{
  padding: 7px;
}

#knowledge-level-heading {
  font-size: x-large;
  border: 1px solid #726c6c;
  text-align: center;
  background-color: rgb(195, 211, 195);
  padding: 5px;
  width: 80%;
}

.question {
  width: 95%;
}

.userAnswer {
    display: inline-block;
    background-color: rgba(255, 246, 232, 0.76);
    padding: 5px;
}

.submit-test-answer {
    background-color: rgb(79, 110, 79);
    color: rgb(255, 246, 232);
    padding: 4px;
    border-radius: 3px;
    width: auto;
}

#result-level-message {
    text-align: center;
    font-size: x-large;
    background-color: rgb(255, 246, 232);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}



/* __________________________End of Knowledge Test page ____________________*/




/* __________________________Pricing page ____________________*/

.price {
  display: inline-block;
}

.book-button {
  color: white;
  padding: 12px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 4px;
  cursor:pointer;
  background-color:rgb(163, 159, 159);
}

.book-button:hover {
  background-color: rgb(129, 123, 123);
}

.book-button {
  display:inline-block;
}

/* __________________________End of Pricing page ____________________*/




/* _____________________________ About Us page __________________________*/

.the-team {
    margin-bottom: 10px;
}
.about-us-summary {
    text-align: center;
    margin: 17px 220px;
}

.meet-team-heading {
    margin: 25px 0 50px 0;
}

@media (max-width: 1022px){
    .about-us-summary {
        margin: 7px 50px;
    }

    .meet-team-heading {
    margin: 15px 0 30px 0;
}
}

.bio-info {
    border-color: #726c6c;
    border: 4px;
    border-style: groove;
    text-align: center;
    padding: 2px;
    height: 100%;
    margin-top: 25px;
}

.member-photo {
    background: no-repeat center center;
    padding: 0;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border-color: #726c6c;
    border: 1px;
    border-style: solid;
}

.photo-block {
    margin-left: 50px;
    margin-top: -10px;    
}

/* _____________________________ END of About Us page __________________________*/



/* _____________________________ Contact us page __________________________*/

/*Questionnaire*/

.course-recommendation-form-instructions {
  text-align: left;
  font-size: large;
  background-color: rgba(255, 246, 232, 0.466);
  padding: 7px;
}

#questionnaire {
    border: 2px solid #726c6c;
    margin-top: 7px;
    margin-bottom: 7px;
}

#type-of-course, #group-or-indiv, #learning-intensity, #accent {
    padding: 17px;
    margin: 1px;
    background-color: rgba(255, 246, 232, 0.466);
}

#type-of-course {
    border: 2px solid #726c6c;
}

#group-or-indiv {
    border: 2px solid #726c6c;
}

#learning-intensity {
    border: 2px solid #726c6c;
}

#accent {
    border: 2px solid #726c6c;
}

#divAccents {
  display: none;
}

.submit-course-recommendation-form {
  border: 2px solid rgb(255, 246, 232);
  
}

.contact-box {
   text-align: center;
   margin: 20px;
   font-family: 'Roboto', sans-serif; 
   text-shadow: 3px 3px 3px rgb(255, 246, 232);
}

.contact-bg-box{
    background-image: url(../images/brick1cut.jpeg);
    background-color: #726c6c; /* In case the image is not available */
    width: auto;
    display: flex;
    height: 90%;
    border-color: rgb(255, 246, 232);
    border: 3px;
    border-style: groove;
    }

.contact-text{
    text-align: center;
    background-color: rgb(255, 246, 232);
    margin: auto;
    position: relative;
    padding: 10px;
    line-height: 1.8;
    width: 80%;
    }


.change-text {
    font-size: larger;
    word-wrap: break-word;
}

.add-border {
    border: 2px solid #726c6c;
    border-radius: 7%;
}

/* The form code was borrowed  from W3schools and modified */

input, select, textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: block;
  font-size: 0.9em;
}

label {
  padding-top: 2px 5px;
  display: inline-block;
  text-align: start;
}

input[type=submit] {
  background-color: rgb(163, 159, 159);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: rgb(129, 123, 123);
}

.form-container {
  border-radius: 5px;
  padding: 5px 5px;
  width: 100%;
}

form {
    width: 100%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 4px;
  white-space: nowrap;
}

.col-75 {
  float: right;
  width: 75%;
  margin-top: 4px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* END of borrowed form from W3school*/


#copy-button
{
  color: white;
  padding: 12px 20px;
  font-size: 0.9em;
  border: none;
  border-radius: 4px;
  cursor:pointer;
  background-color:rgb(163, 159, 159);
}

#copy-button:hover {
  background-color: rgb(129, 123, 123);
}

#print-button {
  color: white;
  padding: 12px 20px;
  font-size: 0.9em;
  border: none;
  border-radius: 4px;
  cursor:pointer;
  background-color:rgb(163, 159, 159);
}

#print-button:hover {
  background-color: rgb(129, 123, 123);
}

#print-button, #copy-button {
  display:inline-block;
}

div#map {min-height: 300px;}

footer {
   width: 100%;
}

.footer-row {
   text-align: center;
}   
 
.social-networks{
   text-align: center;
}
 
.social-networks li {
   display: inline;
   padding-right: 3vw;
   color: #6c757d;
}
 
.social-networks i {
   color: #6c757d;
}
 

#phrase a {
    text-decoration: none;
    color: #6c757d;
    text-align: center;
}


#phrase :hover {
  background-color: rgb(129, 123, 123);
  border-radius: 5px;
  padding: 5px;
}


#phrase a:hover {
  color: whitesmoke;
  padding: 5px;
  box-shadow: 5px 5px 10px rgb(129, 123, 123);
}

.copyright {
   text-align: center;
   color: #6c757d;
}

.social-networks i:hover {
  border: 5px solid rgb(129, 123, 123);
  box-shadow: 5px 5px 10px rgb(129, 123, 123);
  background-color: rgb(129, 123, 123);
  color: whitesmoke;
  border-radius: 2px;
}

/* _____________________________ END of Contact us page __________________________*/